*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Shared style*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.logo img{
    width: 139px;
    height: 60px;
    
}
.btn{
    background-color: #469165;
    border: none;
    padding:12px
    16px;
    border-radius: 4px;
    font: 16px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}
.btn:hover{
    background-color: #30B868;
    
}
.btn2{
   background: transparent;
   border: 1px solid #FFFFFF; 
   border-radius: 4px; 
   padding: 12px 16px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   line-height: 100%;
   letter-spacing: 0%;
   color: #FFFFFF; 
   
    
}
.btn2:hover {
  background: #FFFFFF1A;
}
.button-group {
    display: flex;
    gap: 16px;
    align-items: center;
}
.btn3{
    background-color: #FFFFFF;
    border: none;
    padding: 8px 12px ;
    border-radius: 1000px;
    font: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
   
}

/* Main style*/

nav{
    background-color: #FFFFFF;
    width: 1600px;
    margin: 0 auto;
    padding:  16px 120px 16px 120px ;
    display: flex;
    justify-content:space-between;
    align-items: center;    
}

nav .navigation-content{
    display: flex;
    gap: 32px;
    align-items: center;
    
   
    
}
nav .navigation-content a{
    width: 102px;
    height: 24px;
    color: #000000;
    opacity: 90%;
    font-weight: 500;
    size: 16px;
    line-height: 152%;
    letter-spacing: 0%;


}
#banner{
    background-image: url('/assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1600px;
    height: 674px;
    gap: 40px;
    padding: 70px 120px 134px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
#banner .heading-section {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
}
#banner .heading-section h1{
    width: 770px;
    height: 168px;
    opacity: 90%;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    

}
.white{
    color: #FFFFFF;
}
.Green{
    color: #30B868;
}
#banner .heading-section p{
    width: 1360px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    
}
#Notes{
    width: 1600px;
    height: 448px;
    padding: 120px 120px 120px;
    gap: 44px;
}
#Notes .Notes-title{
    width: 1360px;
    height: 152px;
    gap: 16px;
}
#Notes .Notes-title h2{
    width: 1360px;
    color: #001931;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
   

}
#Notes .Notes-title p{
    width: 1360px;
    height: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;
}
#Notes .Note-container {
    width: 1360px;
    height: 300px;
    gap: 24px;
    display: flex;
    

} 
#Notes .Note-card{
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    
    

}
#Notes .Card-logo{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    
}
#Notes .Note-card h3{
    width: 274px;
    height: 29px;
    font-weight: 600;
    size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #001931;
}
#Notes .Note-card p {
    width: 274px;
    height: 40px;
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;

}
#Brain{
    width: 1600px;
    height: 840px;
    gap: 40px;
    padding: 120px;
    
    
}
#Brain .Brain-container {
    width: 1360px;
    height: 600px;
    gap: 60px;
    display: flex; 
    align-items: center;
    
}

#Brain .Brain-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
#Brain .solution-content {
    width: 700px;
    height: 396px;
    gap: 40px;
    
    
    
    

}

#Brain .solution-label{
    width: 700px;
    height: 20px;
    font-weight: 500;
    size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #30B868;
   

}
#Brain .solution-content h2{
    width: 700px;
    height: 116px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    color: #001931;
    padding: 16px 0px 0px 0px;
}
#Brain .solution-description{
    
    font-weight: 400;
    font-style: normal;
    size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #627382;
    padding: 16px 0px 0px 0px;
}
#Brain .features-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 0px 0px 0px;
    
}
#Brain .features-list li{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    gap: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    color: #001931;
   
}
#Brain .features-list li img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 2px; 
}
#Early-Access{
    width: 1600px;
    height: 506px;
    padding: 2px 120px 120px 120px;
    gap: 40px;
    background-color: #FFFFFF;
}
#Early-Access .container-2{
    width: 1360px;
    height: 384px;
    border-radius: 12px;
    padding: 80px 40px 80px 40px;
    gap: 24px;
    background-color: #F7F6F2;
}
#Early-Access .first-content{
    width: 1280px;
    height: 112px;
    gap: 16px;
}
#Early-Access .first-content h2{
    width: 1280px;
    height: 48px;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #001931;
}
#Early-Access .first-content p{
    width: 1280px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;
    padding: 16px 0px 24px 0px;

}
#Early-Access .Second-content{
    width: 1280px;
    height: 88px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
#Early-Access .Second-content .btn{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#Early-Access .Second-content p{
    width: 1280px;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;
}
